Repository defenseunicorns/leapfrog-model-skeleton, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/leapfrogai, @gerred, @YrrepNoj, @gphorvath, @jeff-mccoy, @mikevanhemert, @austenbryan

WIP charts and variables
  README.md
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  zarf.yaml
Owners: @defenseunicorns/leapfrogai, @gerred, @YrrepNoj, @gphorvath

README typo
  README.md
Owners: @defenseunicorns/leapfrogai

deployments.yaml syntax
  chart/templates/deployment.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

correct gpuEnabled value
  chart/values.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

boolean actually string
  chart/templates/deployment.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

WIP hydration failing
  chart/templates/deployment.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

fixed charts
  chart/templates/deployment.yaml
  chart/values.yaml
  zarf.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

manual gpu resources
  chart/templates/NOTES.txt
  chart/templates/deployment.yaml
  chart/values.yaml
  zarf.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

corrected VAR descriptions
  zarf.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

add uds-package-config and change container user
  chart/templates/uds-package.yaml
  chart/values.yaml
Owners: @gerred, @YrrepNoj, @gphorvath

CODEOWNERS:

# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai 

# Packaging
/chart/ @gerred @YrrepNoj @gphorvath
/zarf-config.yaml @gerred @YrrepNoj @gphorvath
/zarf.yaml @gerred @YrrepNoj @gphorvath

# Pipeline and Project Files
/.github/ @gerred @YrrepNoj

# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
